---
layout: archive
---

<p>
Welcome to my data science journey

<br />

I enjoy working on exploring, visualizing and drawing insights from different data projects
<br />

<br />
On this page, I have included some of the data projects for the following topics:<br />
<br />
1. Python Programming<br />
2. Visualization<br />
3  SQL<br />
4  Machine Learning<br />

<br />
Click <a href="https://pphamnham.github.io/data-science/">here</a> for more details on my projects history.<br />
</p>
<!--
{{ content }}
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
